/llista-compra-node/node_modules
/llista-compra-express/node_modules
/llista-compra-express-mongo/node_modules
/2daw-abp-t3-nodejs-express-mongodb-postman-main/library_api/node_modules
/taller-node-js/llista-compra-postman/supermarket_api/node_modules